.top-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 62%;
    height: 55%;
    flex: none;
    order: 2;
}

.form-inside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1.5rem;
    width: 90%;
    height: 52%;
    flex: none;
}

.check {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 90%;
    height: 18px;
    flex: none;
    order: 1;
}
