.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 22px 18px;
    gap: 1px;
    width: 90%;
    height: 30%;
    background: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}
