.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
    width: 90%;
    height: 30%;
    padding: 22px 15px;
    background: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}

@media screen and (max-width: 450px) {
    .input {
        padding: 18px 10px;
        width: 90%;
        border-radius: 10px;
    }
}
