.main {
    background-color: blueviolet;
    top: 130px;
    left: 400px;
    position: absolute;
    width: 800px;
    height: 700px;
}

.main-inside {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    column-gap: 80px;
}

.container {
    display: flex;
    justify-content: space-around;
}
