.forecast-heading {
    position: absolute;
    top: 10%;
    left: 25%;
    color: white;
}

.main {
    top: 18%;
    left: 25%;
    position: absolute;
    width: 75%;
    height: 70%;
}

.main-inside {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    gap: 13px 80px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--bg-color-dashboard);
    border-radius: 1rem;
    color: white;
    font-weight: 300;
}
