.main-sidebar {
    box-sizing: border-box;
    width: 18%;
    height: 98%;
    top: 1.1rem;
    background: var(--background);
    box-shadow: inset 0px -0.5px 0px #e9ebf0;
    display: grid;
    grid-template-rows: 32% 37%;
    align-content: space-between;
    position: absolute;
    left: -100%;
    transition: 850ms;
}

.main-sidebar.active {
    left: 0;
    transition: 450ms;
}

.top-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.t-icon {
    width: 22px;
    height: 24px;
}

.tside-section {
    height: 45%;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
}

.hmain {
    display: flex;
    justify-content: center;
}

.btn-choice {
    display: grid;
    align-items: center;
    border: none;
    cursor: pointer;
}

.btn-choice-container {
    display: grid;
    grid-template-columns: 12% 50%;
}

.btn-choice-container2 {
    display: grid;
    grid-template-columns: 12% 55%;
}

.bottom-sidebar {
    display: grid;
    width: 100%;
    height: 90%;
}

.sidebar-image {
    width: 100%;
}
