.main-card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px 0px;
    isolation: isolate;
    position: absolute;
    width: 538px;
    height: 800px;
    left: 451px;
    top: 112px;

    background: #ffffff;
    border-radius: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 72px;
    width: 100%;
    height: 720px;
    flex: none;
    order: 0;
}

.upper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
    height: 653px;
    flex: none;
    order: 0;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 258px;
    height: 19px;
    flex: none;
    order: 1;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 7px;
    width: 168px;
    height: 92px;
    flex: none;
    order: 0;
}

.img-logo {
    width: 168px;
    height: 56px;
    flex: none;
    order: 0;
}

.heading {
    width: 121px;
    height: 29px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: #101010;
    flex: none;
    order: 1;
}

.para-header {
    width: 538px;
    height: 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    color: #808080;
    opacity: 0.5;
    order: 1;
    align-self: stretch;
}

.top-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 26px;
    width: 430px;
    height: 446px;
    flex: none;
    order: 2;
}

.form-inside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 430px;
    height: 366px;
    flex: none;
    order: 0;
}
